<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Vue App</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app" class="container">
      <h1>
        My Todos
        <span class="info">({{ remaining }}/{{ todos.length }})</span>
      </h1>
      <ul v-if="todos.length">
        <li v-for="(todo, index) in todos">
          <input type="checkbox" v-model="todo.isDone" />
          <span :class="{done: todo.isDone}">{{ todo.title }}</span>
          <span @click="deleteItem(index)" class="command">[×]</span>
        </li>
      </ul>
      <ul v-else>
        <li>Nothing to do, yay!</li>
      </ul>

      <form @submit.prevent="addItem">
        <input type="text" v-model="newItem" />
        <input type="submit" value="Add" />
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
