/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
    color:#000;
    background:#FFF;
}
/*
    TODO remove settings on BODY since we can't namespace it.
*/
/*
    TODO test putting a class on HEAD.
        - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,
img {
    border:0;
}
/*
    TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style:normal;
    font-weight:normal;
}

ol,
ul {
    list-style:none;
}

caption,
th {
    text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,
q:after {
    content:'';
}
abbr,
acronym {
    border:0;
    font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
    vertical-align:text-top;
}
sub {
    vertical-align:text-bottom;
}
input,
textarea,
select {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
    *font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
    color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }



/*ここから記述*/
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  background: gray;
}
.nav-bar {
  height: 30px;
  width: 100%;
  background-color: white;
}
.container {
  padding: 0;
  margin: 0 auto;
  width: 600px;
  background: #dce0e0;
}
ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
ul.menu li {
  display: inline-block;
}
ul.menu li .menu_item {
  display: inline-block;
  font-size: 14px;
  width: 186px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  padding: 7px;
  color: #333;
}
ul.menu li .active {
  background: #353d3e;
  color: #fff;
}
ul.menu li :not(.active):hover {
  opacity: 0.5;
  transition: .8s;
}
ul.contents li {
  list-style: none;
  font-size: 14px;
  padding: 7px 10px;
  line-height: 1.4;
  background: #353d3e;
  color: #fff;
  min-height: 150px;
  display: none;
}
ul.contents li.show {
  display: block;
}
